@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="alert alert-danger" data-bind="visible: showErrorMessage">
    <strong>Error: </strong><span data-bind="text: errorMessage"></span>
</div>
<div  class="col-md-6">
    <div>
        <select class="form-control" data-bind="options: UserList,
                       optionsText: 'userName',
                       value: SelectedUserId,
                       optionsCaption: '--'"></select>
    </div>
</div>


<div>
    <table class="table">
        <thead>
            <tr>
                <td>Project Id</td>
                <td>Start Date</td>
                <td>Time To Start</td>
                <td>End Date</td>
                <td>Credits</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: ProjectList">
            <tr>
                <td data-bind="text: projectId"></td>
                <td data-bind="text: startDate"></td>
                <td data-bind="text: timeToStart"></td>
                <td data-bind="text: endDate"></td>
                <td data-bind="text: credits"></td>
                <td data-bind="text: status"></td>
        </tr>
        </tbody>
    </table>
</div>
